<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/open-sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Discuss", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="body-content">
    <nav class="amber accent-3">
      <span class="material-symbols-outlined theme-switch">light_mode</span>
      <div class="nav-wrapper container">
        <a href="/" class="large-font black-text">Discussions</a>
        <%= if @conn.assigns[:user] do%>
          <%= link to: Routes.o_auth_path(@conn,:signout) do%>
          <div class="right">logout</div>
          <% end %>
        <% else %>
          <%= link to: Routes.o_auth_path(@conn,:request, "github") do%>
              <div class="login-github right"><img class="github-logo" src="/images/github.png">login with github</div>
          <% end %>
        <% end %>
      </div>     
    </nav>
    <header>
      <section class="page-header container">
      </section>
    </header>
    <%= @inner_content %>
    </div>
    <footer class="amber accent-3 page-footer">
      <div class="black-text footer-copyright">
        <div class="container">
        © 2022 dannyarnold.com
        <a class="right black-text" href="#!">About</a>
        </div>
      </div>
    </footer>
    <script>
      const btn = document.querySelector(".theme-switch");
      const darkColorScheme = window.matchMedia("(prefers-color-scheme: dark)")
      let dark_mode = darkColorScheme.matches;
      let dark_mode_cookie = localStorage.getItem("dark-mode")
      
      if( dark_mode_cookie !== null) {
          dark_mode = (dark_mode_cookie === "true") ? true : false;
      }
      updateTheme(dark_mode);

      darkColorScheme.addEventListener("change", function(e){
        if(localStorage.getItem("dark-mode") !== null) return;
        dark_mode = e.matches;
        updateTheme(dark_mode);
      });

      btn.addEventListener("click",function(){
        dark_mode = !dark_mode;
        localStorage.setItem("dark-mode",dark_mode)
        updateTheme(dark_mode);           
      });

      function updateTheme(theme_mode){
        if(theme_mode){ document.documentElement.setAttribute("data-theme", "dark"); }
         else {document.documentElement.setAttribute("data-theme", "");}
        if (theme_mode){btn.innerHTML="light_mode";}
        else {btn.innerHTML="dark_mode";}
      }
    </script>
  </body>
</html>
