/* This file is for your main application CSS */

@import "./phoenix.css";

body{
  color:#000;
  color:var(--font-color);
  background:rgb(243,243,243);
  background:var(--bg-color);
}

a{
    color:#1C75B9;
    color:var(--link-color);
}

input{
    color:white;
    color:var(--formtext);
    font-size: larger;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #000000;
  background-color: #faa639;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #ff0000;
  display: block;
  padding: 0.5rem;
  margin: -1rem 0 2rem;
  font-weight: bold;
}

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading{
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.body-content {
  min-height: calc(100vh - 52px - 1.5rem);
}

.page-footer{
  font:status-bar;
  margin-top:1.5rem;
  padding:0;
  min-height: 52px;
}

.large-font{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2em !important; 
}

.material-symbols-outlined {
  font-size: 3em;
  vertical-align: middle;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 200,
  'opsz' 24
}

.nav-icons{
  font-size: 1.5em;
}

.nav-icons:hover{
  font-size: 2em;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 1em;
  visibility: hidden;
  width: 90px;
  background-color: rgb(107, 94, 94);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -45px;
  opacity: 0;
  transition: opacity 1s
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.login-github{
  cursor: pointer;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-top: 3px;
  position: relative;
  height: 58px;
  font-size: small;
}

.github-logo{
  vertical-align: middle;
  padding: 0px 10px 8px 0px;
}

.login-github:hover{
  background-color: rgb(95, 94, 94);
}

.login-github:active{
  top: 2px;
  background-color: black;
}

.row {
  white-space: nowrap;
}

.login-btn{
  border-radius: 6px;
  width: 150px;
  height: 45px;
  margin-left: 15px;
  position: relative;
}

.login-btn:active{
  top: 2px;
}

.remember-me-check{
  left: 20px;
  position: relative;
  margin-top: 6px;
}

.remember-me{
  opacity: 0;
  padding-left: 30px;
}

.theme-switch{
  content:"light_mode";
  position: absolute;
  right: 0em;
  padding: 10px;
  font-size: 1.5em;
  cursor: pointer;
  color:black;
}
