<h1 class="large-font">Topics</h1>

<table >
  <thead>
    <tr>
      <th>Title</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for topic <- @topics do %>
    <tr>
      <td><%= topic.title %></td>
      <td>
        <span class="right"><%= link "❌", to: Routes.topic_path(@conn, :delete, topic), method: :delete, data: [confirm: "Are you sure?"] %></span>
        <span class="right"><%= link "📝", to: Routes.topic_path(@conn, :edit, topic) %></span>
        <span class="right"><%= link "👁️‍🗨️", to: Routes.topic_path(@conn, :show, topic) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= button "New Topic", to: Routes.topic_path(@conn, :new), method: :get %></span>
